#{extends 'standardForm.html' /}
#{set title:'Magacini' /}

<script>

function sync(item){
	naziv = item.find(".naziv").html()
    id = item.find(".id").html()
    $("#naziv").val(naziv);
    $("#id").val(id);

}
function remove(id){
		$(location).attr('href','/Magacini/remove?id='+id);
	}
		 
function nextform(id){
		$(location).attr('href','/naseljenamesta/next?id='+id);
	}
 



</script>

#{secure.check "administrator"}
<p>
<ul>
  <li><a href="@{Magacini.show("search")}"id="search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Magacini.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
  <li><a href="@{Magacini.logout()}" id = "logout"><img src="@{'/public/images/remove.gif'}"/></a></li>
</ul>
</p>
#{/secure.check}

<h1>Categories</h1>

<table>
	<tr class = "header">
	   <th>Name</th>
	</tr>
#{list items:magacini, as:'magacin'}
	<tr>
		<td class = "name">${magacin.naziv}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${magacin.id}</td>
	</tr>
#{/list}
</table>

<div class = "panel">
	<p>
	
				 #{set 'action'}
				 #{if mode == 'add'}
				 @{Magacini.create()}
				 #{/if}
				 #{elseif mode == 'edit'}
				 @{Magacini.edit()}
				 #{/elseif}
				 #{else}
				 @{Magacini.filter()}
				 #{/else}
				 #{/set}
		<form action=${action} method="post">

		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				
				#{field 'naziv'}
					<label for = "${field.id}">Naziv</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Confirm" style="margin-left:6em"/>
					<a href = "@{Magacini.show("edit")}" style="margin-left:1em">Rollback</a>
				</div>			
				</form>
		
	</p>
</div>

