#{extends 'standardForm.html' /}
#{set title:'Languages' /}

<script>

function sync(item){
    naziv = item.find(".naziv").html()
    id = item.find(".id").html()
    $("#naziv").val(naziv);
    $("#id").val(id);

}
function remove(id){
		$(location).attr('href','/Language/remove?id='+id);
	}
		 
function nextform(id){
		$(location).attr('href','/naseljenamesta/next?id='+id);
	}
 



</script>



<p>
<ul>
  <li><a href="@{Languages.show("search")}"id="search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Languages.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>Languages</h1>

<table>
	<tr class = "header">
	   <th>Oznaka</th> 
	   <th>Naziv</th>
	</tr>
#{list items:languages, as:'language'}
	<tr>
		<td class = "naziv">${language.naziv}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${language.id}</td>
	</tr>
#{/list}
</table>

<div class = "panel">
	<p>
	
				 #{set 'action'}
				 #{if mode == 'add'}
				 @{Languages.create()}
				 #{/if}
				 #{elseif mode == 'edit'}
				 @{Languages.edit()}
				 #{/elseif}
				 #{else}
				 @{Languages.filter()}
				 #{/else}
				 #{/set}
		<form action=${action} method="post">

		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				
				#{field 'oznaka'}
					<label for = "${field.id}">Oznaka</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span>#{error 'oznaka' /}</span>
					
				#{/}
				</p>
				<p>
				#{field 'naziv'}
					<label for = "${field.id}">Naziv</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Confirm" style="margin-left:6em"/>
					<a href = "@{Languages.show("edit")}" style="margin-left:1em">Rollback</a>
				</div>			
				</form>
		
	</p>
</div>

