#{extends 'standardForm.html' /}
#{set title:'Radnici' /}

<script>

function sync(item){
	ime = item.find(".ime").html()
    prezime = item.find(".prezime").html()
    sifra = item.find(".sifra").html()
    id = item.find(".id").html()
    $("#ime").val(ime);
    $("#prezime").val(prezime);
    $("#sifra").val(sifra);
    $("#id").val(id);
}

</script>

<p>
<ul>
  <li><a href="#" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="#" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>Radnici</h1>

<table>
	<tr class = "header">
	   <th>Ime</th> 
	   <th>Prezime</th>
	   <th>Sifra</th>
	</tr>
#{list items:radnici, as:'radnik'}
	<tr>
		<td class = "oznaka">${radnik.ime}</td>
		<td class = "naziv">${radnik.prezime}</td>
		<td class = "sifra">${radnik.sifra}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${radnik.id}</td>
	</tr>
#{/list}
</table>

<div class = "panel">
	<p>
	
		#{form @Radnici.show()}
		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'ime'}
					<label for = "${field.id}">Ime</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'prezime'}
					<label for = "${field.id}">Prezime</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<p>
				#{field 'sifra'}
					<label for = "${field.id}">Sifra</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "#" style="margin-left:1em">Rollback</a>
				</div>			
				
		#{/form}
	</p>
</div>

